// временные стили;
.testing{
  margin: 0 auto 30px;
  width: 740px;
  font-size: 16px;
  padding: 0 20px;
  background-color: $darkTwo;
  &.white{
    background-color: $white;
  }
}
.gg-colors {
  color: $white;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  //font-size: 100%;
}
h1,h2,h3 {
  font-weight: 600;
}
h1 {
  font-size: 231.25%;
  line-height: 141%;
  letter-spacing: 0.4px;
  margin: 0 0 9px;
}

h2 {
  font-size: 175%;
  line-height: 143%;
  letter-spacing: 0.2px;
  margin: 0 0 14px;
}

h3 {
  font-size: 137.5%;
  line-height: 146%;
  margin: 0 0 13px;
}

p {
  margin: 12px 0;
  line-height: 1.75;
  letter-spacing: -0.2px;
}

q {
  &:lang(de),
  &:lang(de-de) {
    quotes: "\201E" "\201C" "\201A" "\2018";
  }
  &:lang(de-fr) {
    quotes: "\00BB" "\00AB" "\203A" "\2039";
  }

  &:lang(de-ch) {
    quotes: "\00AB" "\00BB" "\2039" "\203A";
  }

  &:lang(en) {
    quotes: "\201C" "\201D" "\2018" "\2019";
  }

  &:lang(fr),
  &:lang(ru) {
    quotes: "\00AB\00A0" "\00A0\00BB" "\2039\00A0" "\00A0\203A";
  }
}
a {
  color: $linkColor;
  text-decoration: none;
  letter-spacing: -0.2px;
  border-bottom: 1px solid transparent;
  &:hover {
    color: $linkColorHover;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid rgba(115, 173, 255, 0.25);
  }
  &:active {
    color: $red;
    border-color: transparent;
  }
}

strong, b {
  font-weight: bold;
}

blockquote {
  margin: 13px 0;
  font-size: 125%;
  line-height: 1.6;
  font-style: italic;
  color: $veryLightBlue;
  letter-spacing: 0;
}

dl {
  dt,dd{
    line-height: 1.75;
    letter-spacing: -0.2px;
    &:before{
      content:'\2014';
    }
  }
  dt {
    font-weight: bold;
    margin-bottom: 12px;
  }
  dd {
    margin-left: 0;
  }
}

cite {
  display: inline-block;
  vertical-align: top;
  font-size: 87.5%;
  font-style: normal;
  a{
    display: inline-block;
    vertical-align: top;
    color: $linkColor;
    background-color: $spoiler;
    border-radius: 1px;
    padding: 6px 14px;
    border: none;
    &:before {
      content: '';
      margin: 4px 8px 0 0;
      display: inline-block;
      vertical-align: top;
      width: 12px;
      height: 12px;
      background: url('../img/outer-link.svg') no-repeat;
    }
    &:focus,&:active{
      border: none;
      color: $linkColorHover;
    }
    &:hover{
      background-color: $citeBG;
      a{
        color: $linkColorHover;
      }
    }
  }
}

del {
  color: $red;
}

ins {
  color: $green;
}

hr {
  height: 2px;
  border: none;
  background: linear-gradient(to right, $white 50%, transparent 50%) repeat-x;
  background-size: 25px 2px;
}

ul, ol {
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
  counter-reset: list;
  letter-spacing: -0.2px;
  li {
    margin: 0 0 11px 30px;
    padding: 0;
    position: relative;
    line-height: 1.75;
    &:before {
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
      width: 20px;
      margin: 0 0 0 -24px;
      text-align: right
    }
  }
}

ul {
  li {
    &:before {
      padding: 1px 15px 0 0;
      content: '\2022';
    }
  }
}

ol {
  li {
    &:before {
      font-feature-settings: 'liga' on, 'lnum' on;
      -moz-font-feature-settings: 'liga' on, 'lnum' on;
      -webkit-font-feature-settings: 'liga' on, 'lnum' on;
      padding-right: 12px;
      counter-increment: list;
      content: counter(list) '.'
    }
  }
}
p, a, dt, dd, ul, ol{
  letter-spacing: 0;
  font-weight: 300;
}

.white{
  color: $black;
  font-weight: normal;
  a {
    color: $linkColorWhite;
    &:hover {
      color: $linkColorWhiteHover;
    }
    &:active {
      color: $red;
    }
    &:focus {
      border-bottom: 1px solid rgba(0, 106, 255, 0.25);
    }
  }
  blockquote{
    color: $mainColor;
  }
  cite{
    a{
      background-color: $lightBg;
      color: $linkColorWhite;
      border: none;
      &:before {
        background: url('../img/outer-link-white.svg') no-repeat;
      }
      &:focus,&:active{
        border: none;
        color: $linkColorHover;
      }
      &:hover{
        color: $linkColorWhiteHover;
        background-color: $veryLightBlue;
        &:before {
          background: url('../img/outer-link-white.svg') no-repeat;
        }
      }
    }
  }
  hr{
    background: linear-gradient(to right, $black 50%, transparent 50%) repeat-x;
    background-size: 25px 2px;
  }
  p, a, dd, ul, ol{
    letter-spacing: -0.2px;
    font-weight: normal;
  }
}
