// gg colors ;
$red: #fe4b4b;
$green: #43b85b;
$linkColor: #73adff;
$linkColorHover: #4f98ff;
$linkColorWhite: #006aff;
$linkColorWhiteHover: #589dff;
$citeBG: #2b3553;
$darkTwo: #0d1221;
$white: #fff;
$black: #000;
$veryLightBlue: #dfecff;
$spoiler: #252e41;
$spoilerHover: #26385e;
$lightBg: #e4e8ee;
$mainColor: #233056;
